* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  z-index: 9999;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
  &.with-alert {
    top: 1rem;
    left: 1rem;
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #54C8FF;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  transform: scale(2);
  top: .2rem;
  right: .2rem;
}

/* Color/shape of close button cross */
.bm-cross {
  background: white;
  width: 2rem;
  height: 2rem;
  transform: scale(2.5);
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  *.with-alert {

  }
}

/* General sidebar styles */
.bm-menu {
  background: black;
  padding: 1rem;
  font-size: 1rem;
  pointer-events: none;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: white;
  padding: 0.8em;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;  // i.e. Nexus5/Chrome and Kindle Fire HD 7''
}

/* Individual item */
.bm-item {
  display: inline-block;
  margin-bottom: .25rem;
  font-family: 'Orbitron', sans-serif;
  line-height: 1.5;
  font-size: 1.25rem;
  box-shadow: none;
  pointer-events: auto;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.5);
}